siscar.services/WebRoot/WEB-INF/wsdl/SiscarServicesService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.siscar.geniar/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SiscarServicesService" targetNamespace="http://services.siscar.geniar/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.siscar.geniar/" schemaLocation="SiscarServicesService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="validarLogin">
    <part element="tns:validarLogin" name="parameters"/>
  </message>
  <message name="validarLoginResponse">
    <part element="tns:validarLoginResponse" name="parameters"/>
  </message>
  <message name="GWorkException">
    <part element="tns:GWorkException" name="fault"/>
  </message>
  <message name="validarVehiculo">
    <part element="tns:validarVehiculo" name="parameters"/>
  </message>
  <message name="validarVehiculoResponse">
    <part element="tns:validarVehiculoResponse" name="parameters"/>
  </message>
  <message name="getListCostCenters">
    <part element="tns:getListCostCenters" name="parameters"/>
  </message>
  <message name="getListCostCentersResponse">
    <part element="tns:getListCostCentersResponse" name="parameters"/>
  </message>
  <message name="consultPums">
    <part element="tns:consultPums" name="parameters"/>
  </message>
  <message name="consultPumsResponse">
    <part element="tns:consultPumsResponse" name="parameters"/>
  </message>
  <message name="consultEmpleoyeeName">
    <part element="tns:consultEmpleoyeeName" name="parameters"/>
  </message>
  <message name="consultEmpleoyeeNameResponse">
    <part element="tns:consultEmpleoyeeNameResponse" name="parameters"/>
  </message>
  <message name="consultarCentroCostoVO">
    <part element="tns:consultarCentroCostoVO" name="parameters"/>
  </message>
  <message name="consultarCentroCostoVOResponse">
    <part element="tns:consultarCentroCostoVOResponse" name="parameters"/>
  </message>
  <message name="consultarAuxiliarCiat">
    <part element="tns:consultarAuxiliarCiat" name="parameters"/>
  </message>
  <message name="consultarAuxiliarCiatResponse">
    <part element="tns:consultarAuxiliarCiatResponse" name="parameters"/>
  </message>
  <message name="consultarValorTarifaCombustibleCIAT">
    <part element="tns:consultarValorTarifaCombustibleCIAT" name="parameters"/>
  </message>
  <message name="consultarValorTarifaCombustibleCIATResponse">
    <part element="tns:consultarValorTarifaCombustibleCIATResponse" name="parameters"/>
  </message>
  <message name="consultarValorTarifaTipoCombustibleCALI">
    <part element="tns:consultarValorTarifaTipoCombustibleCALI" name="parameters"/>
  </message>
  <message name="consultarValorTarifaTipoCombustibleCALIResponse">
    <part element="tns:consultarValorTarifaTipoCombustibleCALIResponse" name="parameters"/>
  </message>
  <message name="validateCostCenter">
    <part element="tns:validateCostCenter" name="parameters"/>
  </message>
  <message name="validateCostCenterResponse">
    <part element="tns:validateCostCenterResponse" name="parameters"/>
  </message>
  <message name="consultCostCenterFuelByPlaca">
    <part element="tns:consultCostCenterFuelByPlaca" name="parameters"/>
  </message>
  <message name="consultCostCenterFuelByPlacaResponse">
    <part element="tns:consultCostCenterFuelByPlacaResponse" name="parameters"/>
  </message>
  <message name="consultarCostCenterFuelPorPlaca">
    <part element="tns:consultarCostCenterFuelPorPlaca" name="parameters"/>
  </message>
  <message name="consultarCostCenterFuelPorPlacaResponse">
    <part element="tns:consultarCostCenterFuelPorPlacaResponse" name="parameters"/>
  </message>
  <message name="getListTypeRequest">
    <part element="tns:getListTypeRequest" name="parameters"/>
  </message>
  <message name="getListTypeRequestResponse">
    <part element="tns:getListTypeRequestResponse" name="parameters"/>
  </message>
  <message name="guardarServicioRegistro">
    <part element="tns:guardarServicioRegistro" name="parameters"/>
  </message>
  <message name="guardarServicioRegistroResponse">
    <part element="tns:guardarServicioRegistroResponse" name="parameters"/>
  </message>
  <portType name="SiscarServicesDelegate">
    <operation name="validarLogin">
      <input message="tns:validarLogin"/>
      <output message="tns:validarLoginResponse"/>
      <fault message="tns:GWorkException" name="GWorkException"/>
    </operation>
    <operation name="validarVehiculo">
      <input message="tns:validarVehiculo"/>
      <output message="tns:validarVehiculoResponse"/>
      <fault message="tns:GWorkException" name="GWorkException"/>
    </operation>
    <operation name="getListCostCenters">
      <input message="tns:getListCostCenters"/>
      <output message="tns:getListCostCentersResponse"/>
      <fault message="tns:GWorkException" name="GWorkException"/>
    </operation>
    <operation name="consultPums">
      <input message="tns:consultPums"/>
      <output message="tns:consultPumsResponse"/>
      <fault message="tns:GWorkException" name="GWorkException"/>
    </operation>
    <operation name="consultEmpleoyeeName">
      <input message="tns:consultEmpleoyeeName"/>
      <output message="tns:consultEmpleoyeeNameResponse"/>
      <fault message="tns:GWorkException" name="GWorkException"/>
    </operation>
    <operation name="consultarCentroCostoVO">
      <input message="tns:consultarCentroCostoVO"/>
      <output message="tns:consultarCentroCostoVOResponse"/>
      <fault message="tns:GWorkException" name="GWorkException"/>
    </operation>
    <operation name="consultarAuxiliarCiat">
      <input message="tns:consultarAuxiliarCiat"/>
      <output message="tns:consultarAuxiliarCiatResponse"/>
      <fault message="tns:GWorkException" name="GWorkException"/>
    </operation>
    <operation name="consultarValorTarifaCombustibleCIAT">
      <input message="tns:consultarValorTarifaCombustibleCIAT"/>
      <output message="tns:consultarValorTarifaCombustibleCIATResponse"/>
      <fault message="tns:GWorkException" name="GWorkException"/>
    </operation>
    <operation name="consultarValorTarifaTipoCombustibleCALI">
      <input message="tns:consultarValorTarifaTipoCombustibleCALI"/>
      <output message="tns:consultarValorTarifaTipoCombustibleCALIResponse"/>
      <fault message="tns:GWorkException" name="GWorkException"/>
    </operation>
    <operation name="validateCostCenter">
      <input message="tns:validateCostCenter"/>
      <output message="tns:validateCostCenterResponse"/>
      <fault message="tns:GWorkException" name="GWorkException"/>
    </operation>
    <operation name="consultCostCenterFuelByPlaca">
      <input message="tns:consultCostCenterFuelByPlaca"/>
      <output message="tns:consultCostCenterFuelByPlacaResponse"/>
      <fault message="tns:GWorkException" name="GWorkException"/>
    </operation>
    <operation name="consultarCostCenterFuelPorPlaca">
      <input message="tns:consultarCostCenterFuelPorPlaca"/>
      <output message="tns:consultarCostCenterFuelPorPlacaResponse"/>
      <fault message="tns:GWorkException" name="GWorkException"/>
    </operation>
    <operation name="getListTypeRequest">
      <input message="tns:getListTypeRequest"/>
      <output message="tns:getListTypeRequestResponse"/>
      <fault message="tns:GWorkException" name="GWorkException"/>
    </operation>
    <operation name="guardarServicioRegistro">
      <input message="tns:guardarServicioRegistro"/>
      <output message="tns:guardarServicioRegistroResponse"/>
      <fault message="tns:GWorkException" name="GWorkException"/>
    </operation>
  </portType>
  <binding name="SiscarServicesPortBinding" type="tns:SiscarServicesDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="validarLogin">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GWorkException">
        <soap:fault name="GWorkException" use="literal"/>
      </fault>
    </operation>
    <operation name="validarVehiculo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GWorkException">
        <soap:fault name="GWorkException" use="literal"/>
      </fault>
    </operation>
    <operation name="getListCostCenters">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GWorkException">
        <soap:fault name="GWorkException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultPums">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GWorkException">
        <soap:fault name="GWorkException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultEmpleoyeeName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GWorkException">
        <soap:fault name="GWorkException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarCentroCostoVO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GWorkException">
        <soap:fault name="GWorkException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarAuxiliarCiat">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GWorkException">
        <soap:fault name="GWorkException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarValorTarifaCombustibleCIAT">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GWorkException">
        <soap:fault name="GWorkException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarValorTarifaTipoCombustibleCALI">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GWorkException">
        <soap:fault name="GWorkException" use="literal"/>
      </fault>
    </operation>
    <operation name="validateCostCenter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GWorkException">
        <soap:fault name="GWorkException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultCostCenterFuelByPlaca">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GWorkException">
        <soap:fault name="GWorkException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarCostCenterFuelPorPlaca">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GWorkException">
        <soap:fault name="GWorkException" use="literal"/>
      </fault>
    </operation>
    <operation name="getListTypeRequest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GWorkException">
        <soap:fault name="GWorkException" use="literal"/>
      </fault>
    </operation>
    <operation name="guardarServicioRegistro">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GWorkException">
        <soap:fault name="GWorkException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SiscarServicesService">
    <port binding="tns:SiscarServicesPortBinding" name="SiscarServicesPort">
      <soap:address location="http://localhost:8080/siscar.services/SiscarServicesPort"/>
    </port>
  </service>
</definitions>
