siscar.services/WebRoot/WEB-INF/wsdl/SiscarService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.siscarMobile.ciat/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SiscarService" targetNamespace="http://services.siscarMobile.ciat/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.siscarMobile.ciat/" schemaLocation="SiscarService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="validarLogin">
    <part element="tns:validarLogin" name="parameters"/>
  </message>
  <message name="validarLoginResponse">
    <part element="tns:validarLoginResponse" name="parameters"/>
  </message>
  <message name="SiscarException">
    <part element="tns:SiscarException" name="fault"/>
  </message>
  <message name="consultarAuxiliarCiat">
    <part element="tns:consultarAuxiliarCiat" name="parameters"/>
  </message>
  <message name="consultarAuxiliarCiatResponse">
    <part element="tns:consultarAuxiliarCiatResponse" name="parameters"/>
  </message>
  <message name="consultEmpleoyeeName">
    <part element="tns:consultEmpleoyeeName" name="parameters"/>
  </message>
  <message name="consultEmpleoyeeNameResponse">
    <part element="tns:consultEmpleoyeeNameResponse" name="parameters"/>
  </message>
  <message name="consultarValorTarifaCombustibleCIAT">
    <part element="tns:consultarValorTarifaCombustibleCIAT" name="parameters"/>
  </message>
  <message name="consultarValorTarifaCombustibleCIATResponse">
    <part element="tns:consultarValorTarifaCombustibleCIATResponse" name="parameters"/>
  </message>
  <message name="consultCostCenters">
    <part element="tns:consultCostCenters" name="parameters"/>
  </message>
  <message name="consultCostCentersResponse">
    <part element="tns:consultCostCentersResponse" name="parameters"/>
  </message>
  <message name="consultTypeRequest">
    <part element="tns:consultTypeRequest" name="parameters"/>
  </message>
  <message name="consultTypeRequestResponse">
    <part element="tns:consultTypeRequestResponse" name="parameters"/>
  </message>
  <message name="consultPums">
    <part element="tns:consultPums" name="parameters"/>
  </message>
  <message name="consultPumsResponse">
    <part element="tns:consultPumsResponse" name="parameters"/>
  </message>
  <message name="consultarValorTarifaCombustibleCALI">
    <part element="tns:consultarValorTarifaCombustibleCALI" name="parameters"/>
  </message>
  <message name="consultarValorTarifaCombustibleCALIResponse">
    <part element="tns:consultarValorTarifaCombustibleCALIResponse" name="parameters"/>
  </message>
  <message name="consultarCentroCostoVO">
    <part element="tns:consultarCentroCostoVO" name="parameters"/>
  </message>
  <message name="consultarCentroCostoVOResponse">
    <part element="tns:consultarCentroCostoVOResponse" name="parameters"/>
  </message>
  <message name="consultCostCenterFuelByPlaca">
    <part element="tns:consultCostCenterFuelByPlaca" name="parameters"/>
  </message>
  <message name="consultCostCenterFuelByPlacaResponse">
    <part element="tns:consultCostCenterFuelByPlacaResponse" name="parameters"/>
  </message>
  <message name="obtenerTarifa">
    <part element="tns:obtenerTarifa" name="parameters"/>
  </message>
  <message name="obtenerTarifaResponse">
    <part element="tns:obtenerTarifaResponse" name="parameters"/>
  </message>
  <message name="validarSolicitante">
    <part element="tns:validarSolicitante" name="parameters"/>
  </message>
  <message name="validarSolicitanteResponse">
    <part element="tns:validarSolicitanteResponse" name="parameters"/>
  </message>
  <message name="validarVehiculo">
    <part element="tns:validarVehiculo" name="parameters"/>
  </message>
  <message name="validarVehiculoResponse">
    <part element="tns:validarVehiculoResponse" name="parameters"/>
  </message>
  <message name="validarCentroCosto">
    <part element="tns:validarCentroCosto" name="parameters"/>
  </message>
  <message name="validarCentroCostoResponse">
    <part element="tns:validarCentroCostoResponse" name="parameters"/>
  </message>
  <message name="GWorkException">
    <part element="tns:GWorkException" name="fault"/>
  </message>
  <message name="guardarServicioRegistro">
    <part element="tns:guardarServicioRegistro" name="parameters"/>
  </message>
  <message name="guardarServicioRegistroResponse">
    <part element="tns:guardarServicioRegistroResponse" name="parameters"/>
  </message>
  <message name="consultarCostCenterFuelPorPlaca">
    <part element="tns:consultarCostCenterFuelPorPlaca" name="parameters"/>
  </message>
  <message name="consultarCostCenterFuelPorPlacaResponse">
    <part element="tns:consultarCostCenterFuelPorPlacaResponse" name="parameters"/>
  </message>
  <portType name="SiscarDelegate">
    <operation name="validarLogin">
      <input message="tns:validarLogin"/>
      <output message="tns:validarLoginResponse"/>
      <fault message="tns:SiscarException" name="SiscarException"/>
    </operation>
    <operation name="consultarAuxiliarCiat">
      <input message="tns:consultarAuxiliarCiat"/>
      <output message="tns:consultarAuxiliarCiatResponse"/>
      <fault message="tns:SiscarException" name="SiscarException"/>
    </operation>
    <operation name="consultEmpleoyeeName">
      <input message="tns:consultEmpleoyeeName"/>
      <output message="tns:consultEmpleoyeeNameResponse"/>
      <fault message="tns:SiscarException" name="SiscarException"/>
    </operation>
    <operation name="consultarValorTarifaCombustibleCIAT">
      <input message="tns:consultarValorTarifaCombustibleCIAT"/>
      <output message="tns:consultarValorTarifaCombustibleCIATResponse"/>
      <fault message="tns:SiscarException" name="SiscarException"/>
    </operation>
    <operation name="consultCostCenters">
      <input message="tns:consultCostCenters"/>
      <output message="tns:consultCostCentersResponse"/>
      <fault message="tns:SiscarException" name="SiscarException"/>
    </operation>
    <operation name="consultTypeRequest">
      <input message="tns:consultTypeRequest"/>
      <output message="tns:consultTypeRequestResponse"/>
      <fault message="tns:SiscarException" name="SiscarException"/>
    </operation>
    <operation name="consultPums">
      <input message="tns:consultPums"/>
      <output message="tns:consultPumsResponse"/>
      <fault message="tns:SiscarException" name="SiscarException"/>
    </operation>
    <operation name="consultarValorTarifaCombustibleCALI">
      <input message="tns:consultarValorTarifaCombustibleCALI"/>
      <output message="tns:consultarValorTarifaCombustibleCALIResponse"/>
      <fault message="tns:SiscarException" name="SiscarException"/>
    </operation>
    <operation name="consultarCentroCostoVO">
      <input message="tns:consultarCentroCostoVO"/>
      <output message="tns:consultarCentroCostoVOResponse"/>
      <fault message="tns:SiscarException" name="SiscarException"/>
    </operation>
    <operation name="consultCostCenterFuelByPlaca">
      <input message="tns:consultCostCenterFuelByPlaca"/>
      <output message="tns:consultCostCenterFuelByPlacaResponse"/>
      <fault message="tns:SiscarException" name="SiscarException"/>
    </operation>
    <operation name="obtenerTarifa">
      <input message="tns:obtenerTarifa"/>
      <output message="tns:obtenerTarifaResponse"/>
      <fault message="tns:SiscarException" name="SiscarException"/>
    </operation>
    <operation name="validarSolicitante">
      <input message="tns:validarSolicitante"/>
      <output message="tns:validarSolicitanteResponse"/>
      <fault message="tns:SiscarException" name="SiscarException"/>
    </operation>
    <operation name="validarVehiculo">
      <input message="tns:validarVehiculo"/>
      <output message="tns:validarVehiculoResponse"/>
      <fault message="tns:SiscarException" name="SiscarException"/>
    </operation>
    <operation name="validarCentroCosto">
      <input message="tns:validarCentroCosto"/>
      <output message="tns:validarCentroCostoResponse"/>
      <fault message="tns:SiscarException" name="SiscarException"/>
      <fault message="tns:GWorkException" name="GWorkException"/>
    </operation>
    <operation name="guardarServicioRegistro">
      <input message="tns:guardarServicioRegistro"/>
      <output message="tns:guardarServicioRegistroResponse"/>
      <fault message="tns:GWorkException" name="GWorkException"/>
    </operation>
    <operation name="consultarCostCenterFuelPorPlaca">
      <input message="tns:consultarCostCenterFuelPorPlaca"/>
      <output message="tns:consultarCostCenterFuelPorPlacaResponse"/>
      <fault message="tns:GWorkException" name="GWorkException"/>
    </operation>
  </portType>
  <binding name="SiscarPortBinding" type="tns:SiscarDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="validarLogin">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SiscarException">
        <soap:fault name="SiscarException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarAuxiliarCiat">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SiscarException">
        <soap:fault name="SiscarException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultEmpleoyeeName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SiscarException">
        <soap:fault name="SiscarException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarValorTarifaCombustibleCIAT">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SiscarException">
        <soap:fault name="SiscarException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultCostCenters">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SiscarException">
        <soap:fault name="SiscarException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultTypeRequest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SiscarException">
        <soap:fault name="SiscarException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultPums">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SiscarException">
        <soap:fault name="SiscarException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarValorTarifaCombustibleCALI">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SiscarException">
        <soap:fault name="SiscarException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarCentroCostoVO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SiscarException">
        <soap:fault name="SiscarException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultCostCenterFuelByPlaca">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SiscarException">
        <soap:fault name="SiscarException" use="literal"/>
      </fault>
    </operation>
    <operation name="obtenerTarifa">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SiscarException">
        <soap:fault name="SiscarException" use="literal"/>
      </fault>
    </operation>
    <operation name="validarSolicitante">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SiscarException">
        <soap:fault name="SiscarException" use="literal"/>
      </fault>
    </operation>
    <operation name="validarVehiculo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SiscarException">
        <soap:fault name="SiscarException" use="literal"/>
      </fault>
    </operation>
    <operation name="validarCentroCosto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SiscarException">
        <soap:fault name="SiscarException" use="literal"/>
      </fault>
      <fault name="GWorkException">
        <soap:fault name="GWorkException" use="literal"/>
      </fault>
    </operation>
    <operation name="guardarServicioRegistro">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GWorkException">
        <soap:fault name="GWorkException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarCostCenterFuelPorPlaca">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GWorkException">
        <soap:fault name="GWorkException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SiscarService">
    <port binding="tns:SiscarPortBinding" name="SiscarPort">
      <soap:address location="http://localhost:8080/siscar.services/SiscarPort"/>
    </port>
  </service>
</definitions>
